@media (max-width: 1400px) {
    .advantages {

        height: 940px;
        &__icons {
            flex-direction: column;
        }

        &__icon {
            margin-top: 20px;
            :nth-child(1) {
                margin-top: 0;
            }
        }
    }
    
}

@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
    .carousel {
        display: none;
    }

    .consultation {
        &__header {
            font-size: 25px;
        }

        &__subheader {
            font-size: 15px;
        }

        
    }

    .carousel {
        display: none!important;
    }

    .feed {

        &__item {
            flex-direction: column!important;
            justify-content: center!important;
            align-items: center;
        }
    }

    
}

@media (max-width: 767px) {
    .header{
        
        &__official {
            display: none;
        }
    }
    .promo {
        

        
        &__header {
            font-size: 35px;
        }

        &__subheader {
            font-size: 19px;
        }

        
    } 

    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
        }

        &__content {
            flex-wrap: none!important;
            flex-direction: column!important;

        }

        &-item {
            margin: 20px 0 0 0!important;
        }

        &__tab {
            margin: 5px 0 0 0!important;
            &:nth-child(1) {
                margin: 0!important;
            }
        }

    }

    .feed {

        &__item {
            flex-direction: column!important;
            justify-content: center!important;
            align-items: center;

        }

        &__text {
            margin: 0 0 0 0!important;
        }
    }
}

@media (max-width: 577px) {
    .header{

        &__logo {
            img {
                width: 200px;
            }
        }

        &__phone {
            font-size: 17px;
        }

    }

    .consultation {
        &__wrapper {
            padding: 0 0 0 29px;
        }
    }

    .promo {
        padding: 24px 25px 25px 25px;

        &__wrapper {
            align-items: center;
        }

        &__header {
            margin-top: 50px;
            font-size: 30px;
        }

        &__subheader {
            margin-top: 5px;
            font-size: 17px;
        }

        &__icons {
            margin-top: 35px;
            flex-direction: column;
        }

        &__icon {
            padding: 3% 5% 0 5%;
        }

    } 

    .feed {

        &__subtitle {
            margin-top: 10px;
            text-align: center;
        }

        &__count {
            text-align: center;
        }

        &__item {
            flex-direction: column!important;
            justify-content: center!important;
            align-items: center!important;

        }
    }

    .footer {
        &__info {
        width: 320px!important;
        }
        &__social-item {
            margin: 0 8px!important;
        }
    }
       
}

@media (max-width: 419px) {

    .header {
        flex-direction: column;
        align-items: center;
        &__contacts {
            display: none;
        }
    }

    .consultation {
        &__form {
            input {
                width: 250px;
            }
        }
    }

    .catalog {
        &__wrapper {
            width: 320px;
        }
    }

    .button_submit {
        width: 250px;
    }
}